# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# nx
.nx/cache
tmp

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
.nx/workspace-data/c911bb45-2b6e-4f36-931b-7536df054a4b.db
.nx/workspace-data/c911bb45-2b6e-4f36-931b-7536df054a4b.db-shm
.nx/workspace-data/c911bb45-2b6e-4f36-931b-7536df054a4b.db-wal
.nx/workspace-data/file-map.json
.nx/workspace-data/lockfile-dependencies.hash
.nx/workspace-data/lockfile-nodes.hash
.nx/workspace-data/nx_files.nxt
.nx/workspace-data/parsed-lock-file.dependencies.json
.nx/workspace-data/parsed-lock-file.nodes.json
.nx/workspace-data/project-graph.json
.nx/workspace-data/tsc-2568428459166798129.hash
.nx/workspace-data/tsconfig-files.hash
.nx/workspace-data/d/daemon.log
.nx/workspace-data/d/server-process.json

# Temporary build artifacts
apps/api/public/css/temp.css
apps/api/public/css/temp.css.map
