{{!-- 
  Molecules: Combinations of atoms working together
  These components perform a single, specific task
--}}

{{!-- Search Form Molecule --}}
<form class="flex gap-2" {{#if onSubmit}}onsubmit="{{onSubmit}}"{{/if}}>
  <div class="flex-1">
    {{> atoms/input 
      name=searchName
      placeholder=searchPlaceholder
      value=searchValue
      onInput=searchOnInput
    }}
  </div>
  {{> atoms/button 
    type="submit"
    text=searchButtonText
    variant="primary"
    icon=searchIcon
  }}
</form>

{{! 
Parameters:
- searchName: name for search input
- searchPlaceholder: placeholder text for search
- searchValue: current search value
- searchOnInput: oninput handler for search
- searchButtonText: text for submit button
- searchIcon: icon for submit button
- onSubmit: form onsubmit handler
}}
